* {
    font-family: sans-serif;
    margin: 0;
    line-height: 1.25;
}
body {
    padding-top: 100px;
    background-color: #eee;
}

.cover {
    background-color: lightblue;
    height: 210px;
    padding-left: 30px;
    border-radius: 10px 10px 0 0;
}

.cover .profile {
    width: 150px;
    border-radius: 100%;
    border: 5px solid white;
    margin-top: 105px;
}

.wrap {
    width: 800px;
    margin: auto;
}
.informations {
    background-color: #fff;
    padding: 70px 0 0 30px;
    height: 200px;
}

.profile-info {
    width: 500px;
}

.profile-name {
    font-size: 32px;
}

.profile-info .description {
    font-size: 16px;
}

.hashtags {
    color: gray;
    font-size: 16px;
    line-height: 2;
}

.website {
    text-decoration: none;
    font-weight: bold;
    color: #0a66c2;
}
.followers {
    display: block;
    line-height: 2;
    color: gray;
    font-weight: bold;
}
